#image-upload-form(uk-modal='')
  form.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical(action='/user/profile', method='POST', enctype='multipart/form-data')
    button.uk-modal-close-default(type='button' uk-close='' style='left:unset;')
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: file-text")
        input#profile-file-display.uk-input.uk-width-1-1(placeholder='프로필 사진을 선택하세요' autocomplete="off" readonly='')
        button#profile-image-selector.uk-button.uk-button-default(type='button', tabindex='-1', style='position: absolute; top:0; right: 0; background-color: #ECF0F1') 파일 선택
        input#profile-image-input(type='file', name='profileimg', accept='image/*' style='display: none')
    #image-upload-btn.uk-margin
      button.uk-button.uk-button-primary.uk-width.uk-width-1-1 업로드

script.
  const profileImageSelector = document.getElementById('profile-image-selector');
  const profileFileDisplay = document.getElementById('profile-file-display');
  const profileImageInput = document.getElementById('profile-image-input');
  profileImageSelector.addEventListener('click', e => {
    e.preventDefault();
    profileImageInput.click();
  });

  profileImageInput.addEventListener('change', e => {
    profileFileDisplay.value = e.target.files[0].name;
  });
  
