#markdown-upload-form(uk-modal='')
  form.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical(action='/article', method='POST', enctype='multipart/form-data')
    button.uk-modal-close-default(type='button' uk-close='' style='left:unset;')
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: pencil")
        input#title-input.uk-input.uk-width-1-1(placeholder="제목을 입력하세요" name='title' autocomplete="off")
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: file-text")
        input#md-file-display.uk-input.uk-width-1-1(placeholder='마크다운 파일을 선택하세요' autocomplete="off" readonly='')
        button#md-file-selector.uk-button.uk-button-default(type='button', tabindex='-1', style='position: absolute; top:0; right: 0; background-color: #ECF0F1') 파일 선택
        input#md-file-input(type='file', name='markdown', accept='.md', style='display: none')
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: image")
        input#hero-image-display.uk-input.uk-width-1-1(placeholder='대표 이미지를 선택하세요' autocomplete="off" readonly='')
        button#hero-image-selector.uk-button.uk-button-default(type='button', tabindex='-1', style='position: absolute; top:0; right: 0; background-color: #ECF0F1') 파일 선택
        input#hero-image-input(type='file', name='heroimage', accept='image/*', style='display: none')
    #article-upload-btn.uk-margin
      button#article-upload-btn.uk-button.uk-button-primary.uk-width.uk-width-1-1 업로드

script(src='/js/articleupload.js')
