- const profileUrl = user.profileImageUrl || '/image/avatar.png';
img#user-drop.uk-comment-avatar(src= profileUrl, width='40', height='40', alt='', style='border-radius: 50%;')
div(uk-dropdown='mode: click')
  .uk-flex.uk-flex-center(style='align-items: center;')
    .image-upload
      img.uk-comment-avatar#upload-img-btn(src= profileUrl, width='80', height='80', alt='', style='border-radius: 50%;' uk-toggle="target: #image-upload-form")
    .uk-margin-left.user-name
      a.black-font(href=`/user/${user._id}`)= user.email.split('@')[0]
  .uk-flex.uk-margin-small-top
    a#subscription-list-btn.uk-button.uk-button-default.uk-width-1-1(href=`/user/${user.id}/subscriptions/list`) 구독 목록
  if user.privilege > 0
    .uk-flex.uk-margin-small-top
      button#write-btn.uk-button.uk-button-default.uk-width-1-1(uk-toggle="target: #markdown-upload-form") 글쓰기
    .uk-flex.uk-margin-small-top
      a#write-btn.uk-button.uk-button-default.uk-width-1-1(href='/article/manage/1') 글 관리
  .uk-flex.uk-margin-small-top
    button#signout-btn.uk-button.uk-button-danger.uk-width-1-1 로그아웃
