extend ../index

block userpage
  include ../components/userpage/header

block userpage-list
  .container

  script(src="/js/userpage.js" type="module")
  script(src="/js/userarticlelist.js" type="module")
  