@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i,900,900i&display=swap');

body {
  width: 100%;
  height: 100%;
}

.header {
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 0px 0px 15px 10px hsla(0, 0%, 80%, 0.50);
  transition: .3s ease-in;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  padding: 5px;
}

.logo:hover {
  cursor: pointer;
}

.big-logo {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  padding: 5px;
}

.big-logo:hover {
  cursor: pointer;
}

.container {
  width: 65%;
  margin: auto;
  padding: 20px 0;
}

#signin-form>form {
  width: 350px;
}

#image-upload-form>form, #markdown-upload-form>form {
  width: 500px;
}

.shadow-border {
  box-shadow: 0px 0px 15px 10px hsla(0, 0%, 80%, 0.50);
  border-radius: 5px;
  transition: .3s ease-in;
}

#signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
}

#user-drop {
  cursor: pointer;
}

.image-upload>input {
  display: none;
}

.image-upload>#upload-img-btn:hover {
  cursor: copy;
}

#file-input {
  font-size: 16px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.list-img {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-primary {
  background: rgba(50,50,50,.39);
}

.white-font {
  color: white;
}

.black-font {
  color: black;
}

.black-font:hover {
  color: black;
}

.list-user-info {
  margin: auto;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-top-color: rgb(216, 216, 216);
  border-right-color: rgb(209, 209, 209);
  border-bottom-color: rgb(186, 186, 186);
  border-left-color: rgb(209, 209, 209);
  border-image: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.list-user-img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.grid-card-constraint {
  max-height: 400px;
  overflow: hidden;
}

.inner-logo {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 7em;
  padding: 5px;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.toggle-on {
  opacity: 1.0;
}

.toggle-off {
  opacity: 0.8;
}

.like-toggle-on {
  color: black;
}

.like-toggle-on:hover {
  cursor: pointer;  
}

.like-toggle-off {
  color: red;
}

.like-toggle-off:hover {
  cursor: pointer;
}

.disabled-click {
  pointer-events: none;
}

.comment-container {
  width: 40%;
  padding: 50px;
  margin: auto;
}

.green-elem {
  color: rgba(2, 158, 116, 1);
  border-color: rgba(2, 158, 116, 1);
  padding: 10px;
}

.comment-border {
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
}

.disable-before::before {
  content: none;
}

.comment-border {
  margin-bottom: 20px;
}

.remove-comment-btn:hover {
  cursor: pointer;
}

