#article-modify-form(uk-modal='')
  input#target-article-id-input(type='hidden' readonly= '')
  div.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
    button.uk-modal-close-default(type='button' uk-close='' style='left:unset;')
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: pencil")
        input#modify-title-input.uk-input.uk-width-1-1(placeholder="제목을 입력하세요" name='title' autocomplete="off")
        button#modify-title-upload.uk-button.uk-button-primary(type='button', tabindex='-1', style='position: absolute; top:0; right: 0') 제목 변경
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: file-text")
        input#modify-md-file-display.uk-input.uk-width-1-1(placeholder='마크다운 파일을 선택하세요' autocomplete="off" readonly='')
        div(style='position: absolute; top:0; right: 0')
          button#modify-md-file-selector.uk-button.uk-button-default(type='button', tabindex='-1', style='background-color: #ECF0F1') 파일 선택
          input#modify-md-file-input(type='file', name='markdown', accept='.md', style='display: none')
          button#modify-md-file-upload.uk-button.uk-button-primary(type='button', tabindex='-1') 업로드
    .uk-margin
      .uk-inline.uk-width-1-1
        a.uk-form-icon.disabled(href="" uk-icon="icon: image")
        input#modify-hero-image-display.uk-input.uk-width-1-1(placeholder='대표 이미지를 선택하세요' autocomplete="off" readonly='')
        div(style='position: absolute; top:0; right: 0')
          button#modify-hero-image-selector.uk-button.uk-button-default(type='button', tabindex='-1', style='background-color: #ECF0F1') 파일 선택
          input#modify-hero-image-input(type='file', name='heroimage', accept='image/*', style='display: none')
          button#modify-hero-image-upload.uk-button.uk-button-primary(type='button', tabindex='-1') 업로드
