- const prev = page - 1, next = page + 1
ul.uk-pagination
  if page > 1
    li
      a(href='/article/manage/' + prev)
        span.uk-margin-small-right(uk-pagination-previous='')
        |  Previous
  li.uk-margin-auto-left
    a(href='/article/manage/' + next)
      | Next 
      span.uk-margin-small-left(uk-pagination-next='')
