dl.uk-description-list.uk-description-list-divider
  - for(let i=0; i<users.length; ++i) {
    - const user = users[i];
    - const avatarImage = user.profileImageUrl || '/image/avatar.png';
      dt.uk-flex.uk-flex-middle.uk-flex-between(style='text-transform: none;')
        div
          img(src=avatarImage style='width: 80px; height:80px;')
          a.uk-margin-small-left.black-font(href=`/user/${user._id}`)= user.email.split('@')[0]
        div
          i.fas.fa-user
          span.uk-margin-small-left= user.subscribers
  - }