if articles.length
  div#masonry-list.uk-child-width-1-3(uk-grid='masonry: true')
    each article in articles 
      div
        .uk-card.uk-card-default
          .uk-card-media-top.grid-card-constraint
            img(src=article.heroImageUrl, alt='')
          .uk-card-body(style='padding: 25px 40px')
            h3.uk-card-title(style='margin: 10px 0')
              a.black-font(href='/article/' + article._id)= article.title
            .list-user-info.uk-flex.uk-flex-middle.uk-flex-between
              div
                .black-font
                  p(style='margin: 0; font-size: 0.8em')= article.createdAt.toString().split(' ').slice(1,4).join('-')
              div
                span(uk-icon="icon: users")
                span= article.hits || 0
