- const profileUrl = targetUser.profileImageUrl || '/image/avatar.png';
.userpage-header-container(style='width: 100%; background-color: #FAFAFA; margin-top: 20px')
  .userpage-header.uk-flex.uk-flex-between.uk-flex-middle(style='width:70%; padding: 16px 0; margin: auto;')
    .userpage-header-left.uk-flex.uk-flex-middle
      img#big-profile.uk-comment-avatar(src=profileUrl, width='150px', alt='', style='border-radius: 50%;')
      .user-info(style='margin-left: 24px; display: inline-block')
        p(style='color: black; font-size: 1.5em; margin: 0')= targetUser.email.split('@')[0]
        p#subscribers(style='color: black; font-size: 1.1em; margin: 0')= targetUser.subscribers + '명'
    .userpage-head-right
      if !user
        button.uk-button.uk-button-danger(disabled='') 구독
      else 
        if subscribed
          button#subscription-button.uk-button.uk-button-danger.toggle-off 구독 해지
        else
          button#subscription-button.uk-button.uk-button-danger.toggle-on 구독
